


.container{
    display: grid;
    grid-template-columns: repeat(1fr,auto);
    grid-template-rows: reapeat(1fr, auto);
    grid: "first";
    grid-gap: 25px 25px;

}



.first{
    grid-area: first;
    color: rgba(20, 20, 20, 0.863);
}


.navbar{
    opacity: .8;
}




