.container{
    display:grid;
    grid-template-columns: repeat(auto-fill);
  grid-template-rows: repeat(auto-fill);
    grid: "intr" "tab";
    grid-gap: 95px 95px;
}



.intro{
    grid-area:intr;

}

.table {
    grid-area: tab;
}
.table tr:hover{
    cursor:pointer;
}



.navbar{
margin-bottom:25px;}


img{
    position: relative;
    margin-right:30px;
    margin-bottom: 65px;    
}
